In [2]:
import pandas as pd
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo.isna()

        City  Colors Reported  Shape Reported  State   Time
0      False             True           False  False  False
1      False             True           False  False  False
2      False             True           False  False  False
3      False             True           False  False  False
4      False             True           False  False  False
5      False             True           False  False  False
6      False             True           False  False  False
7      False             True           False  False  False
8      False             True           False  False  False
9      False             True           False  False  False
10     False             True           False  False  False
11     False             True           False  False  False
12     False            False           False  False  False
13     False             True           False  False  False
14     False             True           False  False  False
15     False             True           False  False  False
16     False             True            True  False  False
17     False             True            True  False  False
18     False             True           False  False  False
19     False            False           False  False  False
20     False             True           False  False  False
21      True             True            True  False  False
22      True             True           False  False  False
23     False             True           False  False  False
24     False             True           False  False  False
25     False             True           False  False  False
26     False             True           False  False  False
27     False             True           False  False  False
28     False             True           False  False  False
29     False             True           False  False  False
...      ...              ...             ...    ...    ...
18211  False             True           False  False  False
18212  False             True           False  False  False
18213  False            False           False  False  False
18214  False             True           False  False  False
18215  False             True           False  False  False
18216  False            False           False  False  False
18217  False             True           False  False  False
18218  False             True           False  False  False
18219  False             True           False  False  False
18220  False            False           False  False  False
18221  False             True           False  False  False
18222  False             True           False  False  False
18223  False             True            True  False  False
18224  False             True           False  False  False
18225  False             True           False  False  False
18226  False             True           False  False  False
18227  False             True           False  False  False
18228  False             True           False  False  False
18229  False             True           False  False  False
18230  False             True           False  False  False
18231  False             True           False  False  False
18232  False             True            True  False  False
18233  False            False           False  False  False
18234  False             True           False  False  False
18235  False             True            True  False  False
18236  False             True           False  False  False
18237  False             True           False  False  False
18238  False             True            True  False  False
18239  False            False           False  False  False
18240  False             True           False  False  False

[18241 rows x 5 columns]

In [8]:
ufo.isnull().any()

City                True
Colors Reported     True
Shape Reported      True
State              False
Time               False
dtype: bool

In [9]:
ufo.isnull().any().any()

True

In [10]:
ufo.isnull().sum()

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [11]:
ufo.isnull().sum().sum()

18028

In [12]:
ufo.dropna()

,City,Colors Reported,Shape Reported,State,Time
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
36,Portsmouth,RED,FORMATION,VA,7/10/1945 1:30
44,Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
82,San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
84,Modesto,BLUE,DISK,CA,8/8/1947 22:00
91,Scipio,RED,SPHERE,IN,5/10/1948 19:00
111,Tarrant City,ORANGE,CIRCLE,AL,8/15/1949 22:00
129,Napa,GREEN,DISK,CA,6/10/1950 0:00
138,Coeur d'Alene,ORANGE,CIGAR,ID,7/2/1950 13:00
152,Irving,BLUE,DISK,KS,4/15/1951 0:30
157,Greenville,GREEN,DISK,MS,6/15/1951 20:30
163,Green River,GREEN,SPHERE,WY,7/3/1951 12:00
164,Provo,BLUE,DISK,UT,7/10/1951 23:30
174,Greenville,ORANGE,TRIANGLE,TX,4/15/1952 16:00
178,Norfolk,RED,FIREBALL,VA,6/1/1952 22:00
202,Arlington,GREEN,OVAL,VA,7/13/1952 21:00
226,Cambridge,RED,SPHERE,MA,4/1/1953 18:00
229,Midwest City,YELLOW,FIREBALL,OK,4/15/1953 16:00
238,Cleveland,RED,FIREBALL,OH,6/30/1953 0:00
249,Artesia,ORANGE,OTHER,NM,8/15/1953 19:00
256,Pendleton,GREEN,DISK,IN,11/21/1953 22:30
288,St. Louis Airport,RED,OVAL,MO,7/1/1954 21:00
289,Los Angeles,RED,CIRCLE,CA,7/1/1954 22:00
304,Beaumont,RED,DISK,TX,9/9/1954 12:30
311,Red Bank,ORANGE,CIRCLE,NJ,12/15/1954 23:10
314,Holbrook,YELLOW,EGG,MA,5/1/1955 15:00
323,Terre Haute,ORANGE,CIRCLE,IN,6/15/1955 0:00
354,Memphis,ORANGE,CYLINDER,TN,6/1/1956 20:00
363,Vista,ORANGE,CIGAR,CA,6/15/1956 19:15
...,...,...,...,...,...
18110,Gilbert,RED,LIGHT,AZ,12/11/2000 23:45
18115,Madison,RED GREEN,TEARDROP,OH,12/12/2000 18:45
18117,Concord,RED GREEN,CIRCLE,NH,12/12/2000 23:10
18121,Redwood Valley,BLUE,LIGHT,CA,12/15/2000 1:09
18123,Waldorf,GREEN,LIGHT,MD,12/15/2000 5:30
18127,North Pole,ORANGE,SPHERE,AK,12/15/2000 16:36
18129,Beaver,RED,DISK,PA,12/15/2000 18:25
18134,Graham,GREEN,LIGHT,WA,12/16/2000 0:20
18141,Sebastopol,YELLOW,CIRCLE,CA,12/17/2000 18:00
18144,Medina,ORANGE,TRIANGLE,OH,12/17/2000 19:30
18148,Highland Park,BLUE,VARIOUS,NJ,12/18/2000 2:30
18158,Woodland,ORANGE,LIGHT,CA,12/19/2000 23:30
18167,Gilbert,RED,CIRCLE,AZ,12/21/2000 19:05
18170,MM 110,BLUE,CIRCLE,AZ,12/22/2000 3:00
18172,Toomsuba,RED,OVAL,MS,12/23/2000 4:00
18177,Chandler,RED,LIGHT,AZ,12/23/2000 22:00
18181,Fortuna,ORANGE,CIRCLE,CA,12/24/2000 18:00
18184,Plymouth,GREEN,FIREBALL,OH,12/24/2000 22:00
18191,Fallston,RED,VARIOUS,MD,12/25/2000 19:15
18192,Atlanta,ORANGE,LIGHT,GA,12/25/2000 20:30
18194,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18195,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18196,Brocton,GREEN,OVAL,MA,12/26/2000 18:23
18197,Greenfiled,GREEN,FIREBALL,MA,12/26/2000 18:30
18210,Monument Valley,BLUE,OTHER,UT,12/28/2000 17:51
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45

In [13]:
ufo.fillna(1)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,1,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,1,OTHER,NJ,6/30/1930 20:00
2,Holyoke,1,OVAL,CO,2/15/1931 14:00
3,Abilene,1,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,1,LIGHT,NY,4/18/1933 19:00
5,Valley City,1,DISK,ND,9/15/1934 15:30
6,Crater Lake,1,CIRCLE,CA,6/15/1935 0:00
7,Alma,1,DISK,MI,7/15/1936 0:00
8,Eklutna,1,CIGAR,AK,10/15/1936 17:00
9,Hubbard,1,CYLINDER,OR,6/15/1937 0:00
10,Fontana,1,LIGHT,CA,8/15/1937 21:00
11,Waterloo,1,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,1,OVAL,IA,7/7/1939 2:00
14,Ludington,1,DISK,MI,6/1/1941 13:00
15,Forest Home,1,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,1,1,CA,2/25/1942 0:00
17,Hapeville,1,1,GA,6/1/1942 22:30
18,Oneida,1,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,1,DISK,NE,6/1/1943 15:00
21,1,1,1,LA,8/15/1943 0:00
22,1,1,LIGHT,LA,8/15/1943 0:00
23,Owensboro,1,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,1,DISK,WV,1/1/1944 10:00
25,San Diego,1,CIGAR,CA,1/1/1944 12:00
26,Wilderness,1,DISK,WV,1/1/1944 12:00
27,Clovis,1,DISK,NM,4/2/1944 11:00
28,Los Alamos,1,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,1,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,1,DIAMOND,MA,12/28/2000 18:00
18212,Carson,1,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,1,FORMATION,TX,12/29/2000 0:00
18215,El Campo,1,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,1,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,1,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,1,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,1,DISK,NH,12/29/2000 20:50
18222,Albrightsville,1,OTHER,PA,12/29/2000 21:00
18223,Greenville,1,1,SC,12/29/2000 22:00
18224,Eufaula,1,DISK,OK,12/29/2000 23:30
18225,Simi Valley,1,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,1,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,1,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,1,LIGHT,TX,12/31/2000 4:00
18229,Chicago,1,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,1,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,1,OVAL,CA,12/31/2000 20:00
18232,Lodi,1,1,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,1,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,1,1,AZ,12/31/2000 23:00
18236,Grant Park,1,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,1,DISK,IA,12/31/2000 23:00
18238,Eagle River,1,1,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,1,OVAL,FL,12/31/2000 23:59

In [14]:
ufo.dropna(inplace = True)

In [15]:
ufo

,City,Colors Reported,Shape Reported,State,Time
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
36,Portsmouth,RED,FORMATION,VA,7/10/1945 1:30
44,Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
82,San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
84,Modesto,BLUE,DISK,CA,8/8/1947 22:00
91,Scipio,RED,SPHERE,IN,5/10/1948 19:00
111,Tarrant City,ORANGE,CIRCLE,AL,8/15/1949 22:00
129,Napa,GREEN,DISK,CA,6/10/1950 0:00
138,Coeur d'Alene,ORANGE,CIGAR,ID,7/2/1950 13:00
152,Irving,BLUE,DISK,KS,4/15/1951 0:30
157,Greenville,GREEN,DISK,MS,6/15/1951 20:30
163,Green River,GREEN,SPHERE,WY,7/3/1951 12:00
164,Provo,BLUE,DISK,UT,7/10/1951 23:30
174,Greenville,ORANGE,TRIANGLE,TX,4/15/1952 16:00
178,Norfolk,RED,FIREBALL,VA,6/1/1952 22:00
202,Arlington,GREEN,OVAL,VA,7/13/1952 21:00
226,Cambridge,RED,SPHERE,MA,4/1/1953 18:00
229,Midwest City,YELLOW,FIREBALL,OK,4/15/1953 16:00
238,Cleveland,RED,FIREBALL,OH,6/30/1953 0:00
249,Artesia,ORANGE,OTHER,NM,8/15/1953 19:00
256,Pendleton,GREEN,DISK,IN,11/21/1953 22:30
288,St. Louis Airport,RED,OVAL,MO,7/1/1954 21:00
289,Los Angeles,RED,CIRCLE,CA,7/1/1954 22:00
304,Beaumont,RED,DISK,TX,9/9/1954 12:30
311,Red Bank,ORANGE,CIRCLE,NJ,12/15/1954 23:10
314,Holbrook,YELLOW,EGG,MA,5/1/1955 15:00
323,Terre Haute,ORANGE,CIRCLE,IN,6/15/1955 0:00
354,Memphis,ORANGE,CYLINDER,TN,6/1/1956 20:00
363,Vista,ORANGE,CIGAR,CA,6/15/1956 19:15
...,...,...,...,...,...
18110,Gilbert,RED,LIGHT,AZ,12/11/2000 23:45
18115,Madison,RED GREEN,TEARDROP,OH,12/12/2000 18:45
18117,Concord,RED GREEN,CIRCLE,NH,12/12/2000 23:10
18121,Redwood Valley,BLUE,LIGHT,CA,12/15/2000 1:09
18123,Waldorf,GREEN,LIGHT,MD,12/15/2000 5:30
18127,North Pole,ORANGE,SPHERE,AK,12/15/2000 16:36
18129,Beaver,RED,DISK,PA,12/15/2000 18:25
18134,Graham,GREEN,LIGHT,WA,12/16/2000 0:20
18141,Sebastopol,YELLOW,CIRCLE,CA,12/17/2000 18:00
18144,Medina,ORANGE,TRIANGLE,OH,12/17/2000 19:30
18148,Highland Park,BLUE,VARIOUS,NJ,12/18/2000 2:30
18158,Woodland,ORANGE,LIGHT,CA,12/19/2000 23:30
18167,Gilbert,RED,CIRCLE,AZ,12/21/2000 19:05
18170,MM 110,BLUE,CIRCLE,AZ,12/22/2000 3:00
18172,Toomsuba,RED,OVAL,MS,12/23/2000 4:00
18177,Chandler,RED,LIGHT,AZ,12/23/2000 22:00
18181,Fortuna,ORANGE,CIRCLE,CA,12/24/2000 18:00
18184,Plymouth,GREEN,FIREBALL,OH,12/24/2000 22:00
18191,Fallston,RED,VARIOUS,MD,12/25/2000 19:15
18192,Atlanta,ORANGE,LIGHT,GA,12/25/2000 20:30
18194,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18195,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18196,Brocton,GREEN,OVAL,MA,12/26/2000 18:23
18197,Greenfiled,GREEN,FIREBALL,MA,12/26/2000 18:30
18210,Monument Valley,BLUE,OTHER,UT,12/28/2000 17:51
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45

In [19]:
ufo['datetime'] = pd.to_datetime(ufo.Time)

In [20]:
import datetime as dt

In [ ]:
ufo['month'].